<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <% include ./partial/global/css.ejs %>
</head>
<body>
    <div class="container">
        <h1>Signup</h1>
        <div class="jumbotron">
            <div class="container text-center">
                <h1><span class="fa fa-lock"></span>Node Authentication</h1>
                <p> Register or Signup with</p>
                <p>
                    <a type="button" class="btn btn-primary btn-sm" href="/signup">Local Register</a>
                    <a type="button" class="btn btn-primary btn-sm" href="/login">Local Login</a>
                    <a type="button" class="btn btn-primary btn-sm" href="/auth/facebook"><span class="fa fa-facebook fa-fw"></span> Facebook</a>
                    <a type="button" class="btn btn-primary btn-sm" href="/auth/google"><span class="fa fa-google fa-fw"></span> Google</a>
                </p>
            </div>
        </div>
    </diva
    <% include ./partial/global/js.ejs %>
</body>
</html>